*{
padding:0;
margin:0}
body{
	height:auto;
	
}
a.navbar-brand{
	color:#B24C4C !important;
	font-size:2em;
}
.logo{
	width:15%;
	display:inline-block;
	margin-top:2.2%;
}

.nav li{
	
	font-size:17px;
	font-family:helvetica;
	padding:2% 0;
}
.nav a{
	color:black !important;


}
#content1{

	padding-top:7%;
	padding-bottom:7%;

}
    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }
  .contact-form{
  	margin-top:4%;
  	width:100%;

  } 
  .contact-form button{
  	margin-left:14%;
  } 
  .content1 dl{
    display:block;
    margin: 0 auto;
  }
  .map{

  	padding-top:5%;
  }

#footer{
	background-color:grey;

	height:auto;
margin:0;	
padding-top:2%;
padding-bottom:1%;
}
#footer p{
font-family:helvetica;
font-size:20px;
color:white !important;
text-align:center;
font-weight:lighter;

}

@media screen and (max-width:1200px){
	.logo{
		display:none;
	}
	.contact-form button{
  	margin:0;
  } 
  .map{
  	margin-bottom:0;
  	padding-bottom:0;
  }
  #content1{
    margin-top:3%;
  }

}


